.root {
    height: 0;
    opacity: 0;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    transition: all 0.25s;

    &_vis {
        margin-top: 0;
        height: 56px;
        opacity: 1;
    }


}

.sub {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #71869D;
}

.field {
    box-sizing: border-box;
    height: 40px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    padding: 12px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(216, 228, 251, 0.55);
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    transition: all 0.15s;

    &_disabled {
        pointer-events: none;
        background-color: rgba(212, 223, 243, 0.17);
    }
}


.text {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 12px;

    span {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        color: #71869D;
    }
}