.pro {
    max-width: 700px;
    width: 100%;
    height: fit-content;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-wrap: nowrap;
    padding: 20px 16px;
    overflow: hidden;

    @media(max-width: 1900px) {
        max-width: 500px;
      }


    p {
        font-weight: 500;
        color: #002CFB;
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
    }
}