.history {
  box-sizing: border-box;
  min-width: 308px;
  max-width: 700px;
  width: 100%;
  padding: 20px 0 20px 16px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  @media(max-width: 1900px) {
    max-width: 500px;
  }
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.logsContainer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: calc(100% - 6px);

  &_hidden {
    padding-left: 20px;
    position: absolute;
    z-index: -2;
    visibility: hidden;
  }

  &_preload {
    transition: none !important;
  }

  &.scrollable {
    width: 100%;
    max-height: 600px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
      transition: all 0.15s ease-in-out;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(212, 223, 243, 0.17);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(212, 223, 243, 0.17);
      border-radius: 3px;
      transition: all 0.15s ease-in-out;
      cursor: pointer;
    }

    &:hover {
      &::-webkit-scrollbar {
        width: 6px;
      }
    }
  }
}

.toggleButton {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--UI-Blue-Accent, #002CFB);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.056px;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    color: #0024cb;

  }


}

.small {
  .toggleButton {
    font-size: 14px;
  }
}