.root {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px 24px;
    border-radius: 8px;
    background-color: #FFF;
}

.block {
    display: flex;
    gap: 20px;
}

.orders {
    display: flex;

    p {
        color: #71869D;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    ul {
        margin-left: 6px;
        display: flex;
        gap: 4px;
        flex-wrap: wrap;
    }

    li {
        cursor: pointer;
        transition: all 0.15s;
        text-decoration-line: underline;
        text-decoration-color: #71869d00;

        &:hover {
            text-decoration-color: #71869D;
        }
    }

}